.block { 
    background-color:  #393E46;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    transition-duration: 50ms;
    border: 1px solid black;
    -webkit-box-shadow: 7px 6px 22px -10px rgba(0, 0, 0, 1);
-moz-box-shadow: 7px 6px 22px -10px rgba(0, 0, 0, 1);
box-shadow: 7px 6px 22px -10px rgba(0, 0, 0, 1);;
}
.block:hover{ 
    transform: scale(1.2);
}

.block:active { 
    transform: scale(1);
}