.block { 
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    transition-duration: 50ms;
}
.block:hover{ 
    transform: scale(1.2);
}

.block:active { 
    transform: scale(1);
}