
.doubledmg { 
    font-family: "Comic Neue", cursive;
    font: bold;
    margin: 10px;
    background-color: black;
    border: 0px solid black;
    color: whitesmoke;
    width: 100px;
    height: 50px;
    transition-duration: 10ms;
}
.doubledmg:hover { 
    transform: scale(1.1);
}
.doubledmg:active { 
    transform: scale(0.9);
}
#upgrades { 
    margin-top: 30px;
    display: flex;
    height: 100px;
   justify-content: center;
   background-color: bisque;
}
.ToBuy { 
    font-family: "Comic Neue", cursive;
    font-size: larger;
    font-style: italic;
    font: bolder;
    margin: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: bisque;

}
.price { 
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.upgr { 
    background-color: bisque;
}