* { 
    margin: 0;
    padding: 0;
    background-color: rgb(43, 42, 42);
}
h1  { 
    text-align: center;
}
.block { 
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10%;
    transition-duration: 50ms;
}
.block:hover{ 
    transform: scale(1.2);
}

.block:active { 
    transform: scale(1);
}
#blockhp { 
    display: flex;
}
.hp { 
    margin-left: 5px;
}
#blockDestroyed { 
 display: flex;
}
.destroyed { 
    margin-left: 5px;
}
.doubledmg { 
    font-family: fantasy;
    font: bold;
    
    background-color: black;
    border: 0px solid black;
    color: whitesmoke;
    width: 100px;
    height: 50px;
    transition-duration: 10ms;
}
.doubledmg:hover { 
    transform: scale(1.1);
}
.doubledmg:active { 
    transform: scale(0.9);
}
#upgrades { 
    margin-top: 30px;
    display: flex;
    height: 100px;
   justify-content: center;
}
.ToBuy { 
    margin: 5px;
    display: flex;
    justify-content: center;

}
.Cash { 
    display: flex;
}